<div class="container-fluid">
    <div class="row" *ngFor="let item of items" style="height:90px;">

        <div class="col-md-3 col-sm-3">
            <img [src]="'images/'+ item.Image" alt="" class="img-responsive" style="max-height:80px;">
        </div>
        <div class="col-md-3 col-sm-3">
            <ul>
                <li>{{item.Name}}</li>
                <li>{{'$' + item.Price}}</li>

            </ul>
        </div>
        <div class="col-md-3 col-sm-3">
            <button class="btn btn-default" style="margin-top:10px;" (click)="addToCart(item)">Add To Cart</button>
        </div>
    </div>
</div>