<div class="login_form">
    <form action="" #f="ngForm" (ngSubmit)="onSubmit(f)">
        <h2 class="text-center">
            {{sys_name}}
        </h2>
        <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input [(ngModel)]="email" type="email" class="form-control" id="exampleInputEmail1" placeholder="Email" name="email" required>
            <span>{{email}}</span>
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input [(ngModel)]="password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="password"
                required>
            <span>{{password}}</span>
        </div>
        <div class="form-group text-center">
            <input type="submit" class="btn btn-default" value="Login" />
            <input class="btn btn-default" (click)="reset()" type="button" value="Reset" />
        </div>
    </form>
</div>