.login_container{
    width: 100%;
    height: 100%;
     position: relative;
     background-color: lightblue;
}

.login_form{
    width:400px; 
    height: 400px; 
    position: absolute;
    top: 50%;
    left: 50%;
  
    margin: -200px 0 0 -200px;
    /* margin: auto; */
}