<span class="glyphicon glyphicon-shopping-cart demo-cart" (click)="showChildModal()"></span>

<span class="badge cart-badge">{{items.size}}</span>

<div bsModal #childModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left">My Cart</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="hideChildModal()">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <div class="modal-body">

                <div class="container-fluid">
                    <div class="row" *ngFor="let kvp of view_items" style="height:30px;">
                        <div class="col-md-3">
                            <img [src]="'images/'+kvp.item.Image" alt="" class="img-responsive" style="max-height:30px;">
                        </div>
                        <div class="col-md-3">
                            {{kvp.item.Name}}
                        </div>
                        <div class="col-md-3">
                            Quantity : {{kvp.count}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-9"></div>
                        <div class="col-md-3">
                            <button class="btn btn-primary">Check Out</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>