<header>
    <div class="container-fluid" style="margin-top:10px;">
        <div class="row">
            <div class="col-md-2">
                <h4>
                    Demo Shopping System
                </h4>
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-4">
                <div class="input-group">
                    <input type="text" name="" id="" class="form-control">
                    <span class="input-group-addon">
                        Search
                    </span>
                </div>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-1">
                <demo-cart></demo-cart>
            </div>
            <div class="col-md-1">
                {{user}}
            </div>
            <div class="col-md-1">
                <demo-switchuser [currentUser]='user' (onUserSwitched)="switchToUser($event)"></demo-switchuser>
            </div>

        </div>
    </div>
</header>