<div class="sidebar">
    <ul class="nav nav-pills nav-stacked">
        <li role="presentation">
            <a routerLink="/home/today_deal" routerLinkActive="active">Today's Deal</a>
        </li>
        <li role="presentation">
            <a routerLink="/home/category/1" routerLinkActive="active">Women</a>
        </li>
        <li role="presentation">
            <a routerLink="/home/category/2" routerLinkActive="active">Men</a>
        </li>
        <li role="presentation">
            <a routerLink="/home/category/3" routerLinkActive="active">Sports</a>
        </li>
        <li role="presentation">
            <a routerLink="/home/category/4" routerLinkActive="active">Trendy</a>
        </li>
        <li role="presentation">
            <a routerLink="/home/category/5" routerLinkActive="active">Outdoor</a>
        </li>
        <li role="presentation">
            <a routerLink="/home/category/6" routerLinkActive="active">Kids</a>
        </li>
    </ul>
</div>