<span class="glyphicon glyphicon-log-out" (click)="showChildModal()" style="cursor:pointer;"></span>

<div bsModal #childModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left">Switch User</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="hideChildModal()">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <div class="modal-body">

                <form action="">
                    <div class="form-group">
                        <label for="user">Current User :</label>
                        <input [(ngModel)]="currentUser" type="text" class="form-control" id="currentUser" name="user" readonly>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        <input [(ngModel)]="email" type="email" class="form-control" id="exampleInputEmail1" placeholder="Email" name="email" required>

                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <input [(ngModel)]="password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="password"
                            required>

                    </div>
                    <div class="form-group text-center">
                        <input type="submit" class="btn btn-default" value="Switch User" (click)="switchuser()" />

                    </div>

                </form>

            </div>
        </div>
    </div>
</div>